.productpage {
    display: grid;
    max-height: 80vh;
    min-width: 90vw;
    max-width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 10vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 9fr;
    grid-template-areas:
        "header header"
        "leftpanel rightpanel";
    grid-gap: 3px;
    background-color: white;
    color: black;
    overflow: auto;
}

.orderspageheader{
    grid-area: header;
    height: 100%;
}

.productpagecol1 {
    grid-area: leftpanel;
    margin-left: 5%;
    min-height: 80vh;
    max-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    overflow: auto;
}

.productpagecol2 {
    grid-area: rightpanel;
    margin-left: 5%;
    margin-right: 5%;
    min-height: 80vh;
    max-height: 80vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 1em;
    row-gap: 1em;
    overflow: auto;
}

.sidebar{
    width: 90%;
    height: 100%;
    border-style: solid;
    text-align: center;
    overflow: auto;
}

.sidebarlistitem{
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 30%;
    background-color: #003459;
    color: white;
    text-align: center;
}

@media screen and (width > 1280px){
    .productpage {
        min-width: 70vw;
        max-width: 70vw;
        margin-left: 15vw;
        margin-right: 15vw;
    }
}

@media screen and (width < 480px){
    .productpage {
        min-width: 98vw;
        max-width: 98vw;
        margin-left: 1vw;
        margin-right: 1vw;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "header header"
            "leftpanel rightpanel";
        grid-gap: 3px;
    }
}